.wrapper {
    position: relative;
    background-color: var(--white);
    padding: 10px 14px;
    /* overflow: hidden; */
}

.icon {
    width: 40px;
    /* height: 36px; */
    fill: var(--black);
    transition: all 150ms ease;
}

.wrapper:hover .icon {
    fill: var(--black-hover);
}

.wrapper:hover .counter {
    color: var(--white);
}

.counter {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    /* transition: all 150ms ease; */

    text-align: center;
    color: var(--white);
    z-index: 1;
}

.counter:hover {
    /* color: var(--black-hover); */
}

.light .counter {
    color: var(--white);
}

.wrapper:hover .counter {
    /* color: var(--black-hover); */
}

.light:hover .icon {
    fill: var(--primary);
}

.light:hover .counter {
    color: var(--primary);
}
