.wrapper {
    display: grid;

    min-height: 100vh;
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer .";
    grid-template-columns: auto minmax(320px, 1200px) auto;
    grid-template-rows: max-content auto auto;
}

.header {
    /* height: 100px; */
    grid-area: header;
}

.main {
    grid-area: main;

    margin: 16px 16px 0 16px;
}

.footer {
    grid-area: footer;

    margin: 0 16px;
}
