.wrapper {
    /* position: absolute; */
    /* top: 300px; */
    /* left: 50%; */

    display: flex;
    align-items: center;
    flex-direction: column;

    /* transform: translate(-50%, -50%); */
}

.h1 {
    margin: 0;

    text-align: center;

    color: var(--white);

    /* text-shadow: 0 4px 8px var(--black); */

    font-size: 48px;
    font-weight: normal;
}

.instagram-link {
    height: 62px;

    margin-top: 16px;
}

.instagram-link svg {
    fill: var(--white);

    filter: drop-shadow(0 4px 8px var(--black));

    transition: all 150ms ease;
}

.instagram-link:hover svg {
    fill: var(--primary);
}

.shop-btn {
    margin-top: 30px;
    font-size: 1.4rem;
    /* padding: 12px 20px; */
    color: var(--white);
}
