.name,
.price,
.description {
    cursor: text;

    outline: 1px auto rgba(73, 172, 202, 0.5);
}

.name:hover,
.price:hover,
.description:hover {
    background: var(--gray-light);
}

.overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    background: var(--white-bg);
    cursor: auto;
}

.delete {
    width: min-content;
}

.process {
    /* width: 100%; */
    height: 4px;

    background: var(--error);
}

.publish {
    background: var(--white);
}

.text-editor {
    max-width: 648px;
    width: 100%;
}
