.wrapper {
    position: relative;

    overflow: hidden;
}

.min:hover {
    box-shadow: var(--box-shadow-hover);
}

.full,
.cart {
    display: flex;
    gap: 20px;
}

/* .cart {
    display: flex;
} */

/* img wrapper */

.img-wrapper {
    position: relative;

    /* width: 100%; */

    transition: filter 150ms ease;
}

.img-wrapper-min {
    width: 100%;

    background-color: var(--primary);
}

.img-wrapper-full {
    width: 100%;
    max-width: 500px;
}

.img-wrapper-cart {
    /* max-width: 100px; */
}

/* text wrapper */

.text-wrapper {}

.text-wrapper-min {
    padding: 10px;
}

.text-wrapper-full {
    width: 100%;
    max-width: 648px;
}

.text-wrapper-cart {
    display: flex;
}

/* name */

.name {
    height: 1.33em;

    line-height: 1.33em;
}

.name-min {}

.name-full {
    font-size: 1.8rem;
}

.name-min,
.price-min {
    margin-bottom: 10px;
}

.price {
    display: block;

    height: 1.33em;

    line-height: 1.33em;
}

.price-min {}

.price-full {
    margin: 12px 0;

    font-size: 1.4rem;
}

.link {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    outline-offset: -1px;
}

.description {
    font-family: inherit;
}

.description-full {}

.min:hover .img-wrapper {
    filter: contrast(1.1);
}

.cart-button {
    width: 100%;
}

.cart-button-min {
    /* width: 100%; */
}

.cart-button-full {
    width: 300px;
}

.wish-button {
    position: absolute;

    top: 0;
    right: 0;
}

.wish-button:hover .wish-icon {
    stroke: var(--primary-hover);
}

.image-mini {
    cursor: pointer;
}

.image-mini:hover:not(.image-minies-active) {
    filter: brightness(0.8);
}

.image-minies-active {
    /* filter: blur(10px); */

    filter: brightness(0.4);
}

@media (max-width: 768px) {
    .full {
        flex-direction: column;
    }
}

.img-shimmer-wrapper {
    position: relative;

    max-width: 500px;
    max-height: 300px;
    padding-top: 60%;
}

.img-shimmer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.name-shimmer {
    width: 130px;
}

.price-shimmer {
    width: 80px;
}

.shimmer-cart-button-min {
    /* height: 2em; */
    padding: 14px 26px;

    /* line-height: 2em; */
}

.disabled {
    pointer-events: none;
}
