.header {
    margin: 0 16px;
}

.header a {
    display: block;
}

.main-menu {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 100%;

    margin: 0;
    padding: 0;

    text-decoration: none;

    font-size: 16px;
}

.main-menu-left,
.main-menu-right {
    display: flex;
    gap: 12px;

    margin: 0;
    padding: 0;
}

.main-menu-left {
    margin-left: 40px;
}

.main-menu > li {
    /* margin: 0 16px; */
}

/* Настройки ссылки на главную логитипа */
.logo {
    display: block;

    margin: 0 16px;
}

.logo span,
.logo hr,
.logo path,
.logo rect,
.logo circle {
    transition: all 150ms ease;
}

/* в обычном режиме при ховере */

.logo:hover span {
    color: var(--black-hover);
}

.logo:hover hr {
    border: 1px solid var(--black-hover);
}

.logo:hover path,
.logo:hover rect {
    fill: var(--black-hover);
}

.logo:hover circle {
    stroke: var(--black-hover);
}

/* в светлом режиме */

.light-logo span {
    color: var(--white);
}

.light-logo hr {
    border: 1px solid var(--white);
}

/* в светлом режиме при ховере */

.light-logo:hover span {
    color: var(--primary);
    /* color: var(--black-hover); */
}

.light-logo:hover hr {
    border: 1px solid var(--primary);
    /* border: 1px solid var(--black-hover); */
}

.light-logo:hover path,
.light-logo:hover rect {
    fill: var(--primary);
    /* fill: var(--black-hover); */
}

.light-logo:hover circle {
    stroke: var(--primary);
    /* stroke: var(--black-hover); */
}

.burger {
    position: absolute;
    right: 0;
}

@media (max-width: 768px) {
    .priority-2 {
        display: none;
        visibility: none;
    }

    .main-menu-left {
        margin-left: 6px;
    }
}

@media (max-width: 480px) {
    .main-menu {
        justify-content: start;
        gap: 0;
    }

    .logo {
        margin: 0;
    }

    .priority-1 {
        display: none;
        visibility: none;
    }

    .main-menu-left {
        margin: 0;
    }
}
