html,
body {
    margin: 0;
    padding: 0;

    /* font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif; */
    font-family:
        Montserrat,
        sans-serif;
}

/* body { padding: 0 calc(20px - (100vw - 100%)) 0 0; } */
/* html { margin-right: calc(-1 * (100vw - 100%)); } */

a {
    text-decoration: none;

    color: inherit;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #0F021D;
    --black-bg: #0f021d3a;
    --black-hover: #57535C;
    --white: #FFF;
    --white-bg: #ffffff49;
    --gray: #646262;
    --gray-light: #ACA8A8;
    --primary: #AEBCE1;
    --primary-hover: #8593bb;
    --primary-bg: #AEBBE185;
    --secondary: #ECE2E1;
    --secondary-hover: #c4bab9;
    --green: #5dc47f;
    --green-hover: #45b46a;
    --error: #F59595;
    --error-bg: #F595958A;

    --box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    --box-shadow-hover: 0px 8px 16px 0px rgba(34, 60, 80, 0.2);
}
